<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <ul>
    <li>
      <h1>===1===loader_img===</h1>
      <div class="loader_img"></div>
    </li>
    <li>
      <h1>===2===js_into_img===</h1>
      <img id="JsIntoImg" class="js_into_img" alt="js">
    </li>
    <li>
      <h1>===3===file_into_img</h1>
      <img class="file_into_img" src="<%= require('./src/imgs/2.jpg') %>" alt="file">
    </li>
    <li>
      <h1>===4===</h1>
    </li>
    <li>
      <h1>===5===</h1>
    </li>
    <li>
      <h1>===9===</h1>
    </li>
  </ul>
</body>
</html>